* {
    box-sizing: border-box;
   }
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
  *,*::after,*::before {
    margin: 0;
    padding: 0;
  }
 nav {
   border: 1px solid;
   background-color: rgba(0, 0, 0, 0.737);
   width: 100%;
   height: 10vh;
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 10px;
 }
 ul {
  display: flex;
}
li {
  display: inline;
  /* padding: 30px; */
  /* padding-right: 50px; */
}
a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.logo {
  font-size: 36px;
  color: white;
}
.span_logo{
  color: orange;
}
.home_nav {
   background-color: rgba(3, 129, 247, 0.308);
  border: 1px solid black;
  opacity: 1;
  color: white;
  font-weight: 500;
  border-bottom-color: orange;
  border-bottom-width: 5px;
}
li>a {
  /* border: 1px solid white; */
  padding: 30px;
  /* opacity: 0.5; */
  font-weight: 500;
}

li a:hover {
  background-color: rgba(3, 129, 247, 0.308);
  border: 1px solid rgba(3, 129, 247, 0.308);
  color: white;
  font-weight: 500;
  border-bottom-color: #ff9000;
  border-bottom-width: 5px;
}

 /* .home, */
 /* .about, */
 /* .services, */
 .pricing,
 .contact,
 .map,
 .getintouch,
 .footer {
   border: 1px solid;
   width: 100%;
   height: 100%;
 }
 .home {
   padding: 40px;
   background-color: rgb(232, 228, 234);
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: end;
   gap: 20px;
   background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
 }

 .home_text {
   /* border: 1px solid; */
   width: 20%;
   height: 400px;
   
 }
 .home_text>p:first-child {
  color: white;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  line-height: 30px;
 }
 .home_text>p>span {
  color: #ff9100;
  font-weight: 600;
  text-align: justify;
  font-size: 35px;
 }
.home_text>i{
  color: white;
  font-weight: 600;
}
i~button {
  border: 1px solid white;
  background-color: #405d769a;
  padding: 11px 16px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i~button:hover {
  background-color: #ff9000;
  border: 1px solid #ff9000;
}
 .home_slide {
   border: 1px solid white;
   width: 45%;
   height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   margin-top: 10%;
 }
 .slide_border {
   border: 1px solid;
   display: flex;
   height: 100px;
   justify-content: end;
   align-items: end;
   color: white;
   background-color: rgba(0, 0, 0, 0.437);
 }
















 .about_table {
       /* border: 1px solid; */
       /* width: 35vw; */
       padding-top: 50px;
       display: flex;
     }
 .mission,.vision, .sponsers {
   border: 1px solid;
   width: 8vw;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-self: center;
   padding: 15px;
 }
 .about {
   /* height: 70vh; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   font-size: 30px;
   padding-top: 85px ;
   padding-bottom: 90px;
 }
 .about_para {
   border: 1px solid;
   width: 55%;
   line-height: 30px;
   font-size: 15px ;
   text-align: center;
   /* margin-top: -35px; */
 }
 hr {
   /* margin-top: -10px; */
   border: 1px solid; 
   color: orange; 
   width: 15%;
   margin-top: 20px;
 }
 .img_overlap {
           border: 1px solid;
           width: 25%;
           /* height: 250px; */
 }
 .img_description {
 border: 1px solid;
 width: 35%;
 font-size: 15px;
 }
 .gallery_info{
   display: flex;
   justify-content: center;
   gap: 60px;
 }
 .services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding-top: 85px ;
   padding-bottom: 50px;
   background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .h2_services {
   color: white;
   font-size: 40px ;
 }
 .services_para{
   /* border: 1px solid; */
   width: 55%;
   line-height: 30px;
   font-size: 18px ;
   text-align: center;
   margin-top: -35px;
   color: white;
 }
 .services_cards {
  /* border for layout for the cards */
   /* border: 1px solid; */
   width: 60%;
   height: 490px;
   display: flex;
   gap: 20px;
   padding-top: 30px;
   
 }
 .development, .design, .concept, .system{
   border: 1px solid;
   width: 25%;
   height: 380px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   padding-top: 50px;
 }
 .development {
   background-image: url(../multimedia_folder/images/img/Development-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   
 }
 .development_icon, .development_icon_text {
   opacity: 0.2;
   color: white;
   font-size:18px ;
 }
 
 
 .design {
   background-image: url(../multimedia_folder/images/img/desgin-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 .concept {
   background-image: url(../multimedia_folder/images/img/concept-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 .system {
   background-image: url(../multimedia_folder/images/img/systam-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px ;
    padding-bottom: 50px;
    /* filter:drop-shadow(5px); */
    /* -webkit-filter: blur(8px); */
  }
  .h2_pricing {
    font-size: 40px ;
  }
  .pricing_para{
    /* border: 1px solid; */
    width: 55%;
    line-height: 30px;
    font-size: 18px ;
    text-align: center;
    /* margin-top: -35px; */
  }
  .pricing_labels_border{
    /* border: 1px solid; */
    width: 70%;
    height: 490px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .label1,.label2,.label3 {
    /* border: 1px solid; */
    height: 100px;
    width: 100%;
    display: flex;
  }
  .basic_label{
    border: 1px solid;
    /* padding: 10px; */
    /* height: 100%; */
    display: flex;
    align-items: center;
  }
  .basic_para{
    transform: rotate(270deg);
  }
  .premimum_label {
    border: 1px solid;
    /* height: 100%; */
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    font-size: 25px;
    align-items: center;

  }
  .bandwidth_label {
    border: 1px solid;
    border-left: 5px red;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .memory_label{
    border: 1px solid;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 53px;
    padding-right: 53px;
    text-align: center;
  }
  .support_label{
    border: 1px solid;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  .update_label{
    border: 1px solid;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
  }
  .order_label{
    border: 1px solid;
    /* height: 100%; */
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  /* contact us */
  .contact {
    display: flex;
    background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px ;
    padding-bottom: 50px;
    /* filter:drop-shadow(5px); */
    /* -webkit-filter: blur(8px); */
    color: white;
  }
  .h2_contact {
    font-size: 40px ;
  }
  .contact_para{
    /* border: 1px solid; */
    width: 55%;
    line-height: 30px;
    font-size: 18px ;
    text-align: center;
    /* margin-top: -35px; */
  }
  .map {
    height: 400px;
    background-image: url(../multimedia_folder/images/img/map.jpg);
  }