* {
    box-sizing: border-box;
   }
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .h2_about, .h2_pricing, .h2_services, .h2_contact, .h2_getintouch{
   font-family: "Oswald", sans-serif;
   }

  *,*::after,*::before {
    margin: 0;
    padding: 0;
  }
 /* nav bar section */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgba(0, 0, 0, 0.814);
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  /* here nav is parent for ul so width kept as 100% */
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  height: 10vh;
}
li a {
  /* further a tags elements will be expand height
  according to li's height so, li is parent of a */
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: white;
 font-size: 18px;
 font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}
nav .logo{
  margin-right: 300px;
}
.logo {
  font-size: 36px;
  font-weight: bold;
  font-family:  'Segoe UI','Open Sans', 'Helvetica Neue',;
}
.logo span {
  color: #ff9100;
}
.nav-hover-home-lock {
  border: 1px solid rgba(3, 129, 247, 0.308);
  background-color: rgba(3, 129, 247, 0.308);
  border-bottom-color: orange;
  border-bottom-width: 5px;
}
.nav-hover:hover {
  border: 1px solid rgba(3, 129, 247, 0.308);
  background-color: rgba(3, 129, 247, 0.308);
  border-bottom-color: orange;
  border-bottom-width: 5px;
}
.side-bar {
 background-color: rgba(0, 0, 0, 0.814);
 width: 250px;
 height: 100vh;
 position: fixed;
 top: 0;
 right: 0;
 display: f;
 flex-direction: column;
 justify-content: flex-start;
 align-items: start;
 box-shadow: -10px 0px 10px rgb(0, 0, 0, 0.1);
 z-index: 22;
}
.side-bar-hover:hover {
  background-color: #ff9100;
}
svg {
  background-color: #ff9100;
  padding: 1px;
}
.side-bar li{
  width: 100%;
}

/* end of nav bar section */

 /* media quires for header */
 @media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    justify-content: space-between;
    gap: 23px;

  }
  li > a {
    padding: 1.5em;
  }
}
@media screen  and (max-width:770px){
  header {
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.814);
    min-width: 100%;
    height: 8svh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .navigation {
  visibility: hidden;
  display: none;
  }
       
  ion-icon[name="menu-outline"] {
    background-color: #ff9000;
    width: 100%;
    height: 100%;
  }

  .burger_bar {
    /* background-color: blue; */
    width: 50px;
    height: 8svh;
    border: 5px solid #ff9000;
    color: white;
    margin-left: 35em;
  }
}
/* end for media quires for header */


/* .home, */
 /* .about, */
 /* .services, */
 /* .pricing, */
 /* .contact, */
 /* .map, */
 /* .getintouch, */
 /* .footer 
 {
   border: 1px solid;
   width: 100%;
   height: 100%;
 } */
 /* home - main section */
 .home {
  padding: 50px;
  background-color: rgb(222, 226, 226);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
}
.home_text {
  width: 20%;
  height: 400px;
}
.home_text>p:first-child {
 color: white;
 font-size: 35px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 800;
 line-height: 30px;
}
.home_text>p>span {
 color: #ff9100;
 font-weight: 600;
 text-align: justify;
 font-size: 35px;
}
.home_text>i{
 color: white;
 font-weight: 600;
}
i~button{
 border: 1px solid white;
 background-color: #405d769a;
 padding: 11px 16px;
 color: white;
 font-weight: 500;
 cursor: pointer;
 font-size: 14px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i~button:hover {
 background-color: #ff9000;
 border: 1px solid #ff9000;
}
.home_slide {
  /* border: 1px solid white; */
  width: 45%;
  height: 500px;
  display: flex;
  background-image: url(../multimedia_folder/images/img/Slider-img1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  flex-direction: column;
  justify-content: end;
  margin-top: 10%;
  animation-name: slideshow;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: -2px 0px 10px rgb(45, 44, 44);
}
@keyframes slideshow {
30% { background-image: url(../multimedia_folder/images/img/Slider-img1.jpg);
 
}
70% {
 background-image: url(../multimedia_folder/images/img/Slider-img2.jpg);
}
100% {
   background-image: url(../multimedia_folder/images/img/Slider-img1.jpg);
 
 }
}
.heart_circle,
.cloud_circle {
 list-style: none;
 display: flex;
 align-items: center;
 padding: 10px;
 gap: 10px;
 cursor: pointer;
}
.slide_icons{
 display: flex;
}
.heart_circle:hover,
.cloud_circle:hover{
 color: #ff9000;

}
.slide_border {
  /* border: 1px solid; */
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.553);
  justify-content: space-between;
}


/* about section */
.about {
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 85px ;
  padding-bottom: 90px;
}
.h2_abot{
 font-size: 56px;
 font-family: "Oswald", sans-serif;
}
.about_para {
  /* border: 1px solid; */
  width: 55%;
  font-size: 15px ;
  margin-top: -50px;
  padding: 24px 0px 35px;
  text-align: center;
}
hr {
  border: 1px solid; 
  color: #ff9000;
  width: 15%;
  /* margin-top: 20px; */
}
.nov_goals > li {
 display: inline;
}
.nov_goals{
 /* border: 1px solid; */
 height: 100px;
 padding: 50px;
 /* background-color: bisque; */
 /* margin-top: 60px; */
 display: flex;

}
.a_mission,.a_vision, .a_sponsers {
 border: .5px solid rgba(0, 0, 0, 0.263);
 align-items: center;
 color: rgba(0, 0, 0, 0.447);
 text-decoration: none;
 padding-left: 60px;
 padding-right: 60px;
 padding-top: 15px;
 padding-bottom: 15px;
 font-weight: 500;
}
.a_mission{
 background-color: #ff9000;
 color: white ;
}
.a_vision:hover, .a_sponsers:hover{
 background-color: #ff9000;
 color: white;
}
.about_frame {
 /* border: 1px solid; */
 display: flex;
 justify-content:center;
 gap: 30px;
}
.about_photo{
 border: 5px solid white;
 background-image: url(../multimedia_folder/images/img/about-img1.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 25vw;
 height: 260px;
 box-shadow: -2px 0px 10px rgb(45, 44, 44);
 margin-left: -100px;
}
iframe {
 width: 550px;
 height: 265px;
 margin-top: -8px;
}

/* .about_photo{
 border: 1px solid; */
 /* position: absolute; } */

/* .photo1 {
 border: 1px solid red;
 width: 80%;
 height: 200px;
 z-index: 2;
 position: relative;
}
.photo2 {
 border: 1px solid;
 width: 80%;
 height: 200px;
 z-index: 1;
 position: relative;
} */

.services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding-top: 85px ;
   padding-bottom: 50px;
   background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .h2_services {
   color: white;
   font-size: 65px
 }
 .services_para{
   /* border: 1px solid; */
   width: 55%;
   line-height: 30px;
   font-size: 18px ;
   text-align: center;
   margin-top: -35px;
   color: white;
 }
 .services_cards {
  /* border for layout for the cards */
   /* border: 1px solid; */
   width: 60%;
   height: 490px;
   display: flex;
   gap: 20px;
   padding-top: 30px;
   
 }
 .development, .design, .concept, .system{
   border: 1px solid;
   width: 25%;
   height: 380px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   padding-top: 50px;
 }
 .development {
   background-image: url(../multimedia_folder/images/img/Development-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   
 }
 .development_icon, .development_icon_text {
   opacity: 0.2;
   color: white;
   font-size:18px ;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 } 
 /* for all card same class name in a div element */
 .hover_develop:hover .development_icon, 
 .hover_develop:hover .development_icon_text {
   opacity: 1;
 }
 .design {
   background-image: url(../multimedia_folder/images/img/desgin-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 .concept {
   background-image: url(../multimedia_folder/images/img/concept-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 .system {
   background-image: url(../multimedia_folder/images/img/systam-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 /* pricing section */
 .pricing {
   display: flex;
   background-color: rgb(253, 253, 253);
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 85px ;
   padding-bottom: 120px;
 }
 .h2_pricing {
   font-size: 65px ;
 }
 .pricing_para{
   /* border: 1px solid; */
   width: 55%;
   line-height: 30px;
   font-size: 18px ;
   text-align: center;
   padding-bottom: 30px;
   /* margin-top: -35px; */
 }

 /* labels */
 .labels {
   /* border: 1px solid; */
   display: flex;
   gap: 10px;
   padding-top: 5%;
   justify-content: center;
   flex-direction: column;
 }

 /* labels tables */
 table {
   /* border: 1px solid; */
   /* width: 70%; */
   border-collapse: collapse;
   text-align: center;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   /* margin-bottom: 30px; */

 }
 .label_hover:hover td {
   background-color: orange;
   color: white;
 }
 
 td {
   border: 1px solid;
   padding: 2.1rem;
   /* width: 90%; */
   font-weight: 500;
   padding-left: -50px;
   padding-right: -50px;
   font-size: 16px;
 }
 @media screen and (max-width: 883px) {
  td {
    border: 5px solid red;
    padding: 1em;
    /* width: 90%; */
    font-weight: 500;
    padding-left: -50px;
    padding-right: -50px;
    font-size: 16px;
  }

 }
 .basic {
   /* don't give background color for basic */
   transform: rotate(-90deg);
   padding: 0;
   font-size: 17px;
 }
 .basic + td {
   font-size: 34px;
   color: #ff9000;
   border-color: black;
   background-color: black;
 }
 .order {
   background-color: black;
   color: white;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 }
 

  /* contact us */
  .contact {
   display: flex;
   background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 90px ;
   padding-bottom: 100px;
   /* filter:drop-shadow(5px); */
   /* -webkit-filter: blur(8px); */
   color: white;
 }
 .h2_contact {
   font-size: 40px ;
 }
 .contact_para{
   /* border: 1px solid; */
   width: 55%;
   line-height: 30px;
   font-size: 18px ;
   text-align: center;
   padding-bottom: 30px;
   /* margin-top: -35px; */
 }
 .map {
   height: 400px;
   width: 100%;
   box-shadow: -5px 5px 10px rgb(45, 44, 44);
   /* background-image: url(../multimedia_folder/images/img/map.jpg); */
 }
 /* get in touch */
 .getintouch {
   background-color: #f0f0f0;
   background-image: url(../multimedia_folder/images/img/Banner-bg.jpg);
   display: flex;
   border: 1px solid;
   padding-top: 80px;
   padding-bottom: 80px;
   gap: 30px;
   /* align-items: center; */
   /* justify-content: center; */
 }
 .form {
   /* border: 1px solid; */
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 30vw;
   margin-left: 300px;
   /* height: 300px; */
 }
 input {
   width: 100%;
   height: 60px;
   padding: 10px;
   font-size: 15px;
   border: none;
 }
 .form button{
   width: 100%;
   height: 50px;
   background-color: #ff9100;
   color: white;
   border: none;
   font-weight: 600;
   cursor: pointer;
 }
 .form button:hover {
   background-color: black;
 }
 .connect {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   gap: 20px;
 }
 input[name="message"] {
   height: 150px;
 }

    /* media address section  */
    .h2_getintouch{
     font-size: 54px;
     color: #ff9100;
    }

   div .connect{
     color: white;
   }
   .mail
         {
           display: flex;
           align-items: center;
           gap: 20px;
           color: white;
         }
   .mail:hover {
     color: #ff9100;
   }
   .media_icons {
     padding-top: 30px;
     cursor: pointer;
     display: flex;
     gap: 20px;
     padding-top: 50px;

   }
footer {
border: 1px solid black;
height: 80px;
background-color: rgba(0, 0, 0, 0.851);
color: rgba(255, 255, 255, 0.806);
display: flex;
justify-content: center;
align-items: center;
}


